__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
.mypy_cache/

.venv/
venv/
ENV/
env/


*.db
*.sqlite3
saves/


.vscode/launch.json
.vscode/tasks.json
.vscode/settings.json
.history/
*.toml


*.log
.DS_Store
Thumbs.db

.env